* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    background: #f6f6f6;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: block;
    padding: 10px 45px;
    background: #2156BD;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.header {
    background: #1e1e1e;
    padding: 20px 0;
    color: #fff;
}

.header > .container {
    display: flex;
    align-items: center;
}

.header > .container > *:not(:first-child) {
    margin-left: 25px;
}

.header .logo {
    font-size: 22px;
    text-transform: uppercase;
}

.header .contacts td:not(:first-child) {
    padding-left: 15px;
}

.header .search-form {
    display: flex;
    flex-grow: 1;
}

.header .search-form input[type=text] {
    flex-grow: 1;
    padding: 10px 15px;
    background: #474747;
    border: 1px solid #6a6a6a;
    font-weight: 600;
    color: #989898;
}

.header .search-form input[type=text]::placeholder {
    font-weight: 600;
    color: #989898;
}

.header .search-form button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #474747;
    border: 1px solid #6a6a6a;
    font-weight: 600;
    color: #989898;
    cursor: pointer;
}

.header .auth {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header .auth a {
    color: #e4e4e4;
    text-decoration: none;
}

.header .cart-btn {
    position: relative;
}

.header .cart-btn .count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -10px;
    height: 20px;
    width: 20px;
    background: #2156db;
    border-radius: 50%;
    color: #fff;
}

.slider-container {
    position: relative;
}

.slider-container .prev,
.slider-container .next {
    display: flex;
    background: transparent;
    border: none;
    position: absolute;
    z-index: 100;
    top: calc(50% - 30px);
    cursor: pointer;
}

.slider-container .prev {
    left: 50px;
}

.slider-container .next {
    right: 50px;
}

.slider-content .slide {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slider-content .slide img {
    position: absolute;
    height: 100%;
    right: -20%;
}

.slider-content .slide-content {
    position: relative;
    z-index: 50;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.slider-content .slide-content .main-text {
    font-size: 32px;
    font-weight: 600;
}

.slider-content .slide-content .sub-text {
    font-size: 24px;
}

.filter {
    margin-top: 30px;
    background: #fff;
    border: 2px solid #e5e5e5;
    padding: 60px 70px 45px 10px;
}

.filter .filter-form {
    display: flex;
    flex-wrap: wrap;
}

.filter .filter-block {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 25px;
    margin-left: 50px;
}

.filter .filter-block label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.filter .filter-block select {
    padding: 9px 10px;
    background: #f7f7f7;
    border: 1px solid #d3d3d3;
    font-weight: 600;
    color: #000;
}

.filter .in-stock {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: 50px;
}

.filter .in-stock label {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.filter .in-stock input {
    margin-right: 12px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 30px;
    border: 1px solid #e6e6e6;
    padding: 30px;
    background: #fff;
}

.product-item .product-img {
    width: 80%;
    align-self: center;
}

.product-item .product-name {
    margin: 25px 0;
    font-weight: 600;
}

.product-item .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.product-item .product-price {
    font-size: 24px;
    font-weight: 600;
}

.pages {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pages .page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    min-height: 35px;
    padding: 0 7px;
    border: 2px solid #e5e5e5;
    color: #2c2c2c;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.pages .page-btn.active {
    background: #2156bd;
    color: #fff;
    border: none;
}

.pages .page-btn.empty {
    border: none;
}

.pages .page-btn.next {
    margin-left: 15px;
    padding: 0 15px;
}

.footer {
    padding: 50px 0;
    background: #131313;
    font-weight: 600;
    color: #fff;
}

.footer > .container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.footer .footer-item {
    display: flex;
    align-items: center;
}

.footer .footer-item .icon {
    margin-right: 15px;
}

.footer .footer-item .top {
    color: #9A9A9A;
}